/* entry point css */
.top-buffer{
  margin-top: 20px;
}

.about-page{
  position: relative;
  top: -20px;
}

.about-page .jumbotron{
  margin: 0;
  background:rgba(9,69,95,0.8);
  color: white;
  border-radius: 0 !important;
}

/*React apply activeClassName to <a> element, but Bootstrap active class is over <li> element*/
.navbar .nav .active, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
  background: #e7e7e7 !important;
  color: #333 !important;
}

.avatar {
   max-width: 80px
}

.cf-nav-main-header {
    height: 75px;
    background-color: #000;
    border-radius: 0px;
    &.navbar {
      background-color: white;
    }
    .navbar-header img {
        width: 115px;
        height: 39px;
        top: 17px;
        position: relative;
        padding: 0px;
    }
}

.cf-nav-main-header.navbar {
  background-color: white;
}

.cf-nav-main-header.navbar .navbar-header .navbar-brand{
  margin-top: 10px;
}

@media(max-width:800px) {
  .cf-nav-main-header > .container .navbar-collapse.collapse p {
      margin-top: 4px;
  }
  .cf-nav-main-header {
      min-height: 50px;
      height: auto;
      margin-bottom: 0px;
  }
}

.c-body {
  
}